<%
if (Array.isArray(_.state.pictures) && _.state.pictures.length) {
  const className = _.route.resource === 'categories' ? 'category'
    : _.route.resource.slice(0, -1)
  %>
  <div class="hero-banner <%= className %>-banner">
    <% if (_.state.pictures.length === 1) { %>
      <img
        class="img-fluid lozad fade"
        data-src="<%= _.state.pictures[0].url %>"
        alt="<%= _.state.pictures[0].alt %>"
      >
    <% } else { 
      const banners = _.state.pictures
      const onlyOnePicture = [{
        "img": banners[1].url,
        "mobile_img": banners[0].url,
        "link": "https://femy.com.br/colecao-sofisticada"
      }]

      %>
      <%- await include('@/sections/banner-slider', {
        _, opt: {
          slides: onlyOnePicture
        }
      }) %>
    <% } %>
  </div>
<% } %>
